## Traffic Data CSV Project

In [8]:
import pandas as pd
import os
import pickle

#### Reading Single Month CSV File

In [6]:
df = pd.read_csv("volume_jan_2019.csv")


files = [file for file in os.listdir("Traffic_Volume_CSV")]

all_months_data = pd.DataFrame()

for file in files: 
    df = pd.read_csv("/Traffic_Volume_CSV/"+file)
    all_months_data = pd.concat([all_months_data, df])
                     
all_months_data.to_csv("all_data.csv", index=False)

FileNotFoundError: [Errno 2] File /Traffic_Volume_CSV/volume_april_2019.csv does not exist: '/Traffic_Volume_CSV/volume_april_2019.csv'

#### Read in Updated dataframe

In [9]:
all_data = pd.read_csv("all_data.csv")
all_data.head()

,Sdate,Cosit,Study,Period,LaneNumber,LaneDescription,LaneDirection,DirectionDescription,Volume,Flags,Flag Text,Setup,#Bins,Bins
0,2019-04-01 00:00:00,"=""000010100042""",1,60,1,Northbound Lane 1,1,North,0,8192,Checked,32426,0,NaN
1,2019-04-01 00:00:00,"=""000010100042""",1,60,2,Northbound Lane 2,1,North,74,8192,Checked,32426,0,NaN
2,2019-04-01 00:00:00,"=""000010100042""",1,60,3,Northbound Lane 3,1,North,113,8192,Checked,32426,0,NaN
3,2019-04-01 00:00:00,"=""000010100042""",1,60,4,Northbound Lane 4,1,North,42,8192,Checked,32426,0,NaN
4,2019-04-01 00:00:00,"=""000010100042""",1,60,5,Southbound Lane 1,2,South,68,8192,Checked,32426,0,NaN

#### What was the month with highest volume? How high was the volume in that month?

In [10]:
all_data['Month'] = all_data['Sdate'].str[5:7]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

,Sdate,Cosit,Study,Period,LaneNumber,LaneDescription,LaneDirection,DirectionDescription,Volume,Flags,Flag Text,Setup,#Bins,Bins,Month
0,2019-04-01 00:00:00,"=""000010100042""",1,60,1,Northbound Lane 1,1,North,0,8192,Checked,32426,0,NaN,4
1,2019-04-01 00:00:00,"=""000010100042""",1,60,2,Northbound Lane 2,1,North,74,8192,Checked,32426,0,NaN,4
2,2019-04-01 00:00:00,"=""000010100042""",1,60,3,Northbound Lane 3,1,North,113,8192,Checked,32426,0,NaN,4
3,2019-04-01 00:00:00,"=""000010100042""",1,60,4,Northbound Lane 4,1,North,42,8192,Checked,32426,0,NaN,4
4,2019-04-01 00:00:00,"=""000010100042""",1,60,5,Southbound Lane 1,2,South,68,8192,Checked,32426,0,NaN,4

#### Clean up the data

###### Drop Rows of NaN

In [11]:
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()

all_data = all_data.dropna(how='all')
all_data.head()

,Sdate,Cosit,Study,Period,LaneNumber,LaneDescription,LaneDirection,DirectionDescription,Volume,Flags,Flag Text,Setup,#Bins,Bins,Month
0,2019-04-01 00:00:00,"=""000010100042""",1,60,1,Northbound Lane 1,1,North,0,8192,Checked,32426,0,NaN,4
1,2019-04-01 00:00:00,"=""000010100042""",1,60,2,Northbound Lane 2,1,North,74,8192,Checked,32426,0,NaN,4
2,2019-04-01 00:00:00,"=""000010100042""",1,60,3,Northbound Lane 3,1,North,113,8192,Checked,32426,0,NaN,4
3,2019-04-01 00:00:00,"=""000010100042""",1,60,4,Northbound Lane 4,1,North,42,8192,Checked,32426,0,NaN,4
4,2019-04-01 00:00:00,"=""000010100042""",1,60,5,Southbound Lane 1,2,South,68,8192,Checked,32426,0,NaN,4

## Testing Pickling

In [13]:
all_data.to_pickle('all_data.pkl')

In [17]:
df = pd.read_pickle('all_data.pkl')

In [21]:
print(df.head())

                 Sdate            Cosit  Study  Period  LaneNumber  \
0  2019-04-01 00:00:00  ="000010100042"      1      60           1
1  2019-04-01 00:00:00  ="000010100042"      1      60           2
2  2019-04-01 00:00:00  ="000010100042"      1      60           3
3  2019-04-01 00:00:00  ="000010100042"      1      60           4
4  2019-04-01 00:00:00  ="000010100042"      1      60           5

     LaneDescription  LaneDirection DirectionDescription  Volume  Flags  \
0  Northbound Lane 1              1                North       0   8192
1  Northbound Lane 2              1                North      74   8192
2  Northbound Lane 3              1                North     113   8192
3  Northbound Lane 4              1                North      42   8192
4  Southbound Lane 1              2                South      68   8192

  Flag Text  Setup  #Bins  Bins  Month
0   Checked  32426      0   NaN      4
1   Checked  32426      0   NaN      4
2   Checked  32426      0   NaN      4
3   Checked  32426      0   NaN      4
4   Checked  32426      0   NaN      4

#### Augment data with additional columns