## Loading Data into Pandas
### https://www.youtube.com/watch?v=vmEHCJofslg&t=1093s

In [11]:
import pandas as pd

df = pd.read_csv('pokemon.csv')

## print(poke.head(5))

### Reading Data in Pandas

In [2]:
## Read Headers
# print(df.columns)

## Read each Column
# print(df['Name'][0:5])
# print(df[['Name', 'Type 1', 'HP']])

## Read Each Row
# print(df.iloc[1:4])
# for index, row in df.iterrows():
#    print(index, row['Name'])
# df.loc[df['Type 1'] == "Fire"]

## Read a Specific Location (R,C)
# print(df.iloc[2,1])

### Sorting/Describing Data

In [12]:
# df.describe()
# df.sort_values('Name', ascending=False)
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False

### Making Changes to the Data

In [13]:
# combine all stats into aggregate total for easier relative comparison
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# this string removes the 'total' column - note that df must be reset
df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [26]:
# backcheck addition in 'total' column for coherency
#45+49++49+65+65+45

318

### Saving our Data (Exporting in Desired Format)

In [16]:
## Creates new .csv with modified data, without index notation
# df.to_csv('modified_pokemon.csv', index = False)

## Creates direct to excel .xlsx spreadsheet file without index notation
# df.to_excel('modified.xlsx', index=False)

## Creates notepad doc with tab seperated values and mostly clean formatting
#df.to_csv('modified.txt', index=False, sep='\t')

### Filtering Data

In [26]:
## filters all data to show only Grass type
# df.loc[df['Type 1'] == 'Grass']

## filters to show more than one type
# df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

## filters to show one type or another
# df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

## filters to show specified parameter (HP) within specified value range 
# df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

## Creates new df and creates new csv
#new_df = df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#new_df.to_csv('filtered.csv')

## and reset the inherent index value from original scaling
#new_df = new_df.reset_index()

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
67,719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
68,720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
69,740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
70,741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False